body {
    background-color: rgb(253, 231, 202);
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.commands__git {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.git__title {
    font-size: 27px;
    text-transform: uppercase;
    background-color: rgb(239, 255, 182);
    color: rgb(22, 32, 32);
}

.git__container {
    box-sizing: border-box;
    border: 2px solid black;
    width: 100%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.git__container:not(:last-of-type) {
    border-bottom: none;
}

.git__subtitle {
    font-size: 24px;
    line-height: 50px;
    margin-top: 2px;
    border-bottom: 0.5px solid #000;
    background-color: rgb(184, 180, 187);
    padding-bottom: 2px;
}

.git__subtitle a {
    text-transform: none;
    color: rgb(89, 0, 255);
    text-decoration: none;
    font-weight: 500;

}

.git__subtitle a:hover {
    color: red;
}

.git__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.git__description table {
    width: 80%;
    font-size: 21px;
    text-align: left;
}

.git__description table th {
    background-color: rgb(255, 255, 208);
    text-align: center;

}


.git__description table td {
    background-color: rgb(232, 233, 250);
    text-align: center;
    font-size: 18px;

}

.git__description table tr td b {
    white-space: nowrap;
}

.git__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(236, 236, 236);
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
}

.links__title {
    font-size: 24px;
    color: rgb(20, 20, 20);
    margin: 0;
}

.links__description {
    padding: 0;
    display: block;
    list-style: none;

}

.links__description li {
    width: 100%;
    display: block;
}

.links__description li a {
    text-transform: none;
    font-size: 18px;
    color: red;
    text-decoration: none;
    font-weight: 500;
}

.links__description li a:hover {

    color: rgb(89, 0, 255);
}